body {
  margin: 0;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #333;
}

header {
  background: lightpink;
  text-align: center;
  padding-top: 64px;
}

header h1,
header p {
  margin: 0;
}

header img {
  width: 100%;
  vertical-align: bottom;
}

.btn {
  text-decoration: none;
  background: rgb(230, 101, 101);
  color: #fff;
  display: block;
  width: 140px;
  line-height: 44px;
  margin: 40px auto 40px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}

.btn:hover {
  opacity: 0.8;
}

.features img {
  width: 100%;
}

.features > h1 {
  text-align: center;
  padding: 64px;
  font-weight: normal;
}

.features .container {
  margin: 0 32px;
}

.features p {
  line-height: 1.8;
}

.features section {
  padding: 64px;
}